.calc-wrapper {
  border-spacing: 0;
  width: 600px;
  height: 400px;
  margin: 10% auto;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.wrapper {
  font-family: Inter, sans-serif;
  font-size: 14px;
  padding: 12px 20px;
  border-style: solid;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.calc-wrapper div {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 12px 20px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

.display {
  height: 50px;
  padding: 5px 15px;
  background-color: #495057;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.row {
  background-color: #e0e1e6;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #495057;
}

.row:hover {
  cursor: pointer;
  background-color: #adb5bd;
}

.row-l,
.row-ll {
  background-color: #fe9241;
  font-size: 100%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #495057;
}

.row-l:hover {
  background-color: #ffa94d;
  cursor: pointer;
}

.row-ll:hover {
  background-color: #ffa94d;
  cursor: pointer;
}
